.profile_pic {
  background-image: url("/img/icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10001;
  width: 120px;
  height: 120px;
  position: relative;
  top: 24px;
  left: 60px;
}

.todays_feeling {
  z-index: 10003;
  width: 144px;
  height: 18px;
  position: relative;
  top: 44px;
  left: 46px;
  border-radius: 6px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #7f7f7f;
}

.feeling_name {
  font-family: 'Galmuri9';
  font-size: 10px;
  font-weight: bold;
  color: #03a1fc;
  position: absolute;
  top: 2px;
  left: 6px;
  text-align: left;
}

.feeling_content {
  font-family: 'Galmuri9';
  font-size: 10px;
  position: absolute;
  top: 1px;
  right: 6px;
  text-align: right;
}

.profile_text {
  background: #fff;
  font-family: 'Galmuri11';
  font-size: 12px;
  z-index: 10002;
  width: 144px;
  height: 150px;
  position: relative;
  top: 60px;
  left: 48px;
  overflow-wrap: anywhere;
  overflow: auto;
}

.home_content {
  z-index: 10002;
  width: 428px;
  height: 360px;
  position: relative;
  top: -270px;
  left: 236px;
  padding: 4px;
  overflow: hidden;
}
