.entry_list {
  z-index: 10001;
  width: 144px;
  height: 302px;
  padding: 4px;
  position: relative;
  top: 24px;
  left: -6px;
  overflow-wrap: anywhere;
  overflow: auto;
}

.entry_list ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: -2em;
  margin-inline-end: 0em;
  padding-inline-start: 40px;
}

.entry_list li {
  display: list-item;
  list-style-type: none;
  margin-inline-start: -1em;
  line-height: 2;
}

.entry_list a:link {
  color: #1f3f7f
}

.entry_list a:visited {
  color: #1f3f7f
}

.list_delimiter {
  font-family: 'Galmuri14';
  font-size: 16px;
  padding-bottom: 8px;
  color: #1f86c2;
  font-weight: bold;
  text-align: center;
  line-height: 2em;
}

.list_item {
  padding-left: 8px;
  margin-bottom: 8px;
  font-family: 'Galmuri11';
  font-weight: normal;
  color: #000000;
  font-size: 12px;
  text-align: left;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list_item_selected {
  background: #d1eeff;
  border-radius: 14px;
  padding-left: 8px;
  margin-bottom: 8px;
  font-family: 'Galmuri11';
  font-weight: normal;
  color: #000000;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entry {
  /* https://10015.io/tools/css-background-pattern-generator */
  background-image: linear-gradient(90deg, transparent 75%, #ffffff 25%),
                    repeating-linear-gradient(0deg, #ffffff, #d1eeff 1px, transparent 1px, transparent);
  background-size: 10px 10px, 22px 22px;
  background-color: #ffffff;
  background-attachment: local;
  z-index: 10002;
  width: 428px;
  height: 360px;
  position: relative;
  top: -290px;
  left: 190px;
  padding: 4px;
  overflow-wrap: anywhere;
  overflow: auto;
}

.entry_title {
  font-family: 'Galmuri14';
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.entry_content_placeholder {
  font-family: 'Galmuri14';
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: #7f7f7f;
  padding-top: 128px;
}

.entry_content {
  font-family: 'Galmuri14';
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}